@font-face {
    font-family: 'BLMelody-Light';
    src: url('https://raw.githack.com/mat-founderos/FounderOS/main/BLMelody-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BLMelody-Light', sans-serif;
}

button{
    border: 1px solid #d9fc67!important;
    background-color: #d9fc67!important;
    color: #000000!important;
    text-align: center!important;
    text-transform: uppercase!important;
    border-radius: 4px!important;
    justify-content: center!important;
    align-items: center!important;
    margin-top: 0!important;
    padding: 12px 52px!important;
    /* font-family: Arial, Helvetica Neue, Helvetica, sans-serif!important; */
    font-size: 14px!important;
    font-weight: 600!important;
    line-height: 1!important;
    transition: all .2s!important;
    display: flex!important;
    position: relative!important;
}
button:hover {
    color: #d9fc67!important;
    background-color: #0000!important;
}

p.title {
    font-size: 13.5px !important;
    font-weight: 300 !important;
}
span.underline.hover\:font-bold.cursor-pointer{
    bottom: -4px !important;
    position: relative;
    color: #d9fc67;
}
.masonry-grid {
    grid-template-columns: repeat(auto-fill, 350px) !important;
}

section#wall-container .px-4 {
    padding: 0 !important;
}

section#wall-container button.px-4 {
    padding: 12px 52px!important;
}

/* img.w-full.object-contain[alt="Video Poster"] {
    padding: 10px!important;
    border-radius: 7px !important;
    overflow: hidden;
} */