@font-face {
    font-family: 'BLMelody-Light';
    src: url('https://raw.githack.com/mat-founderos/FounderOS/main/BLMelody-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BLMelody-Light', sans-serif;
}
p.title {
    font-size: 13.5px !important;
    font-weight: 300 !important;
}
span.underline.hover\:font-bold.cursor-pointer{
    bottom: -4px !important;
    position: relative;
    color: #d9fc67;
}
.masonry-grid {
    grid-template-columns: repeat(auto-fill, 350px) !important;
}

section#wall-container .px-4 {
    padding: 0 !important;
}

img.w-full.object-contain[alt="Video Poster"] {
    padding: 10px!important;
    border-radius: 7px !important;
    overflow: hidden;
}