@media screen and (min-width: 3182px) {
    .black-block-outside {
        inset: 0% auto 0% -70%;
        z-index: 5;
    }
 }
  
 @media screen and (min-width: 3182px) {
    .black-block-outside {
        inset: 0% auto 0% -70%;
        z-index: 5;
    }
 }
 html, body, .wf-loading{
   background-color: #000!important;
 }

 .hbspt-form{
   width: 100%;
 }

.hbspt-form input, .hbspt-form textarea, .hbspt-form select, .hsfc-TextInput, .email-mini-course-form---hubsspot .hs-form-field input{
    color: #fff!important;
    background-color: #fff0!important;
    border: 1px solid #878787!important;
    border-radius: 5px!important;
    flex: 1!important;
    height: auto!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 16px 12px 13px!important;
    font-family: BL Melody Regular, sans-serif!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 17.64px!important;
    width: 100%;
 }
 ul.no-list.hs-error-msgs.inputs-list {
   position: absolute;
}
 .hbspt-form select{
   background-color: #000!important;
 }
 .hbspt-form fieldset{
   width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
 }

 .system-audit-form .hbspt-form fieldset{
   align-items: flex-start!important;
 }

.hbspt-form .input{
    margin:0!important;
 }
 .hbspt-form label, .hs-richtext p span{
    color: #fff!important;
    margin-bottom: 0!important;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 160%!important;
    margin-bottom: 2px!important;
 }
.system-audit-form .hbspt-form label{
   /* opacity: 50%; */
}
 .hbspt-form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
 }

 .lead-magnet .hbspt-form form{
   gap: 16px!important;
   align-items: flex-start;
 }
 .lead-magnet ul.no-list.hs-error-msgs.inputs-list {
   display: none;
}
 ul.no-list.hs-error-msgs.inputs-list {
   position: static;
}
.lead-magnet ul.no-list.hs-error-msgs.inputs-list label {
   color: red !important;
}
 .hbspt-form li{
    list-style: none;
 }

 .hbspt-form fieldset div{
    width: 100%;
 }
 .hbspt-form fieldset.form-columns-0 {
    margin-bottom: -30px !important;
 }
 .hbspt-form .hs-button, .email-mini-course-form---hubsspot .hs-button{
    border: 1px solid var(--green-yellow)!important;
    background-color: var(--green-yellow)!important;
    color: var(--black)!important;
    text-align: center!important;
    text-transform: uppercase!important;
    border-radius: 5px!important;
    margin-right: 0!important;
    padding: 16px 52px 13px!important;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif!important;
    font-size: 15px!important;
    font-weight: 600!important;
    line-height: 100%!important;
    transition: all .2s!important;
    position: relative!important;
    cursor: pointer!important;
 }
 .hbspt-form .hs-button:hover {
    color: var(--green-yellow)!important;
    background-color: #0000!important;
}

.hbspt-form .hs-error-msg {
    margin-top: 0px!important;
    color: red !important;
}

.hbspt-form .submitted-message {
    color: var(--white)!important;
    text-align: center!important;
    letter-spacing: normal!important;
    margin-bottom: 10px!important;
    font-family: Archivo, sans-serif!important;
    font-size: 22px!important;
    font-weight: 400!important;
}

label.hs-form-radio-display {
   display: inline-flex;
   gap: 8px;
   flex-direction: row;
   align-content: center;
   align-items: center;
}
label.hs-form-radio-display span{
   padding-top: 2px;
}
.BuyButton-Button {
border: 1px solid var(--green-yellow)!important;
text-align: center!important;
text-transform: uppercase!important;
border-radius: 4px!important;
margin-top: 0!important;
margin-right: 0!important;
width: 100%!important;
max-width: 190px!important;
font-family: Belfast grotesk, system-ui!important;
font-size: 14px!important;
font-weight: 700!important;
line-height: 1.112!important;
transition: all .2s!important;
position: relative!important;
background-color: rgb(217, 252, 103)!important;
color: rgb(0, 0, 0)!important;
--merchant-button-color: #d9fc67!important;
}

.field-container .iti.iti--allow-dropdown {width: 100%;}
.iti__country-list{
   background-color: #00000096!important;
   backdrop-filter: blur(5px);
}

.iti__country-name {color: white!important;}
.iti-mobile .iti__country {color: white!important;}
.lead-magnet .iti.iti--allow-dropdown, .system-audit-form .iti.iti--allow-dropdown{width:100%!important;}
.phone-default-field input{padding-left: 52px !important;}
.lead-magnet .iti__flag.iti__ph , .system-audit-form .iti__flag.iti__ph{width:20px!important;}
.lead-magnet .iti__arrow, .system-audit-form .iti__arrow { width:auto!important;}
.lead-magnet .iti__flag-box, .system-audit-form .iti__flag-box { width: 20px !important;}
.lead-magnet .iti__flag-container, .system-audit-form .iti__flag-container { width: 50px !important;}
.lead-magnet .hs-phone label, .system-audit-form .hs-phone label { display: none;}

section#wall-container div {
   font-family: Blmelody Edit, sans-serif !important;
}
section#wall-container button {
   font-family: Arial!important;
   font-weight: 600!important;
   background-color: #d9fc67!important;
   border: none!important;
   color: #1c1c1c!important;
}
section#wall-container.underline {
   color: #D9FC67 !important;
   text-decoration: none !important;
}

p.title {
   font-size: .85rem !important;
   font-weight: 400 !important;
}

.email-mini-course-form---hubsspot fieldset.form-columns-2 {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.email-mini-course-form---hubsspot .hs-form-field {
   width: 100% !important;
  margin-bottom:0!important;
}

.email-mini-course-form---hubsspot .hs-form-field .input, .hs-form-field .input input {
   margin: 0 !important;
   width: 100%;
}

.email-mini-course-form---hubsspot .hbspt-form{
   gap: 15px;
}



/* Tablet */
@media (max-width: 767px) { 
   .lead-magnet .text-field-form-workshop-hubspot, .system-audit-form .text-field-form-workshop-hubspot{
      max-height: 100%;
   }
    .hbspt-form fieldset {
        flex-direction: column;
        gap:25px!important;
    }
    .hbspt-form fieldset div{
        width: 100%!important;
    }
  }
  