@media screen and (min-width: 3182px) {
    .black-block-outside {
        inset: 0% auto 0% -70%;
        z-index: 5;
    }
 }
  
 @media screen and (min-width: 3182px) {
    .black-block-outside {
        inset: 0% auto 0% -70%;
        z-index: 5;
    }
 }

.hbspt-form input, .hbspt-form textarea, .hbspt-form select{
    color: #fff!important;
    background-color: #fff0!important;
    border: 1px solid #878787!important;
    border-radius: 5px!important;
    flex: 1!important;
    height: auto!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 16px 12px 13px!important;
    font-family: BL Melody Regular, sans-serif!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 17.64px!important;
    width: 100%;
 }
 ul.no-list.hs-error-msgs.inputs-list {
   position: absolute;
}
 .hbspt-form select{
   background-color: #000!important;
 }
 .hbspt-form fieldset{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
 }
.hbspt-form .input{
    margin:0!important;
 }
 .hbspt-form label, .hs-richtext p span{
    color: #fff!important;
    margin-bottom: 0!important;
    font-family: Blmelody Edit, sans-serif!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 160%!important;
    margin-bottom: 8px!important;
 }
 .hbspt-form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
 }
 .hbspt-form li{
    list-style: none;
 }

 .hbspt-form fieldset div{
    width: 100%;
 }
 .hbspt-form fieldset.form-columns-0 {
    margin-bottom: -30px !important;
 }
 .hbspt-form .hs-button{
    border: 1px solid var(--green-yellow)!important;
    background-color: var(--green-yellow)!important;
    color: var(--black)!important;
    text-align: center!important;
    text-transform: uppercase!important;
    border-radius: 5px!important;
    margin-right: 0!important;
    padding: 16px 52px 13px!important;
    font-family: Blmelody Edit, sans-serif!important;
    font-size: 15px!important;
    font-weight: 600!important;
    line-height: 100%!important;
    transition: all .2s!important;
    position: relative!important;
    cursor: pointer!important;
 }
 .hbspt-form .hs-button:hover {
    color: var(--green-yellow)!important;
    background-color: #0000!important;
}

.hbspt-form .hs-error-msg {
    margin-top: 8px!important;
    color: red !important;
}

.hbspt-form .submitted-message {
    color: var(--white)!important;
    text-align: center!important;
    letter-spacing: normal!important;
    margin-bottom: 10px!important;
    font-family: Archivo, sans-serif!important;
    font-size: 22px!important;
    font-weight: 400!important;
}

label.hs-form-radio-display {
   display: inline-flex;
   gap: 8px;
   flex-direction: row;
   align-content: center;
   align-items: center;
}
label.hs-form-radio-display span{
   padding-top: 2px;
}
.BuyButton-Button {
border: 1px solid var(--green-yellow)!important;
text-align: center!important;
text-transform: uppercase!important;
border-radius: 4px!important;
margin-top: 0!important;
margin-right: 0!important;
width: 100%!important;
max-width: 190px!important;
font-family: Belfast grotesk, system-ui!important;
font-size: 14px!important;
font-weight: 700!important;
line-height: 1.112!important;
transition: all .2s!important;
position: relative!important;
background-color: rgb(217, 252, 103)!important;
color: rgb(0, 0, 0)!important;
--merchant-button-color: #d9fc67!important;
}
/* Tablet */
@media (max-width: 767px) { 
    .hbspt-form fieldset {
        flex-direction: column;
        gap:25px!important;
    }
    .hbspt-form fieldset div{
        width: 100%!important;
    }
  }
  